body{
    margin:0;
}

#nav {
    background-color: #282828;
    text-align: left;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    cursor: default;
    height: 3.5em;
    line-height: 3.5em;
}

    #nav ul {
        margin-bottom: 0;
        list-style: none;
        padding-left: 0;
    }

    #nav li {
        display: inline-block;
        padding-left: 0;
        padding-top:5px;
    }

    #nav p {
        display: inline-block;
        padding-left: 600;
        float:right;
        margin:0;
    }

    #nav a {
        -moz-transition: background-color .2s ease-in-out;
        -webkit-transition: background-color .2s ease-in-out;
        -ms-transition: background-color .2s ease-in-out;
        transition: background-color .2s ease-in-out;
        position: relative;
        display: block;
        color: #fff;
        text-decoration: none;
        outline: 0;
        font-weight: 600;
        border-radius: 8px;
        color: #fff;
        height: 2.5em;
        line-height: 2.5em;
        padding: 0 1.25em;
        float: left;
    }

        #nav a:hover {
            color: #fff !important;
            background: #383838;
        }

        #nav a.active {
            background: #484848;
        }

            #nav a.active:before {
                content: '';
                display: block;
                position: absolute;
                bottom: -0.6em;
                left: 50%;
                margin-left: -0.75em;
                border-left: solid 0.75em transparent;
                border-right: solid 0.75em transparent;
                border-top: solid 0.6em #282828;
            }

            .container {
                margin: 0 auto;
                max-width: calc(100% - 50px);
                width: 1200px;
            }
        
                .container.medium {
                    width: 900px;
                }
        
                @media screen and (max-width: 1680px) {
        
                    .container {
                        width: 1200px;
                    }
        
                        .container.medium {
                            width: 900px;
                        }
        
                }
        
                @media screen and (max-width: 1280px) {
        
                    .container {
                        width: 960px;
                    }
        
                        .container.medium {
                            width: 720px;
                        }
        
                }
        
                @media screen and (max-width: 980px) {
        
                    .container {
                        width: 100%;
                    }
        
                        .container.medium {
                            width: 75%;
                        }
        
                }
        
                @media screen and (max-width: 736px) {
        
                    .container {
                        width: 100%;
                        max-width: calc(100% - 30px);
                    }
        
                        .container.medium {
                            width: 100%;
                        }
        
                }


            
        #login  .close {
              position: absolute;
              right: 25px;
              top: 0;
              color: #000;
              font-size: 35px;
              font-weight: bold;
            }
            
            #login .close:hover,
            #login .close:focus {
              color: red;
              cursor: pointer;
            }
            

#login input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

#login button {
background-color: #04AA6D;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

#login button:hover {
opacity: 0.8;
}

/* Extra styles for the cancel button */
#login .cancelbtn {
width: auto;
padding: 10px 18px;
background-color: #f44336;
}
                      
#login .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  #login  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  #login .container {
    padding: 16px;
  }
  
  #login span.psw {
    float: right;
    padding-top: 16px;
  }


  #login .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  #login .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

                /* Row */

	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

    .row > .col-6 {
        width: 50%;
    }

    .row > .col-11 {
        width: 91.66667%;
    }
    .row > .col-12 {
        width: 100%;
    }
    .row > .col-12-small {
        width: 100%;
    }

/* Actions */

ul.actions {
    list-style: none;
    padding-left: 0;
}

    ul.actions li {
        display: inline-block;
        margin: 0 0 0 1em;
        padding-left: 0;
    }

        ul.actions li:first-child {
            margin-left: 0;
        }


/*wrappers */

    .wrapper {
		background-image: url("bg.png");
		box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
		padding: 2em 0 2em 0;
		text-align: center;
        overflow:auto;
	}

    .wrapper.style1 label
    {
        font-size:x-large;
    }
    .wrapper.style1 {
        background-color: #303030;
        color: rgb(163, 163, 163);
        text-shadow: -1px -1px 0px #181818;
    }
    .wrapper.style1 form input[type=text]{
        border-radius:rgb(238, 234, 234);
        width: 150px;
        background: #282828;
        color: rgb(245, 239, 239);
    }

    .wrapper.style4 {
        background-color: #303030;
        color: #999;
        text-shadow: -1px -1px 0px #181818;
    }

    .wrapper.style4 form input[type=text]{
        border-radius:rgb(238, 234, 234);
        width: 150px;
        background: #282828;
        color: rgb(245, 239, 239);
    }
    
        .wrapper.style4 h1, .wrapper.style4 h2, .wrapper.style4 h3, .wrapper.style4 h4, .wrapper.style4 h5, .wrapper.style4 h6 {
            color: #fff;
        }

        .wrapper.style4 form input[type=text],
        .wrapper.style4 form input[type=password],
        .wrapper.style4 form select,
        .wrapper.style4 form textarea {
            border: none;
            background: #282828;
        }


/* Copyright */

#copyright {
    color: #666;
    font-size: 1em;
    line-height: 1em;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

    #copyright li {
        display: inline-block;
        border-left: solid 1px rgba(0, 0, 0, 0.5);
        box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.1);
        padding: 0 0 0 1em;
        margin: 0 0 0 1em;
    }

        #copyright li:first-child {
            border: 0;
            box-shadow: none;
            padding-left: 0;
            margin-left: 0;
        }

    #copyright a {
        -moz-transition: color .2s ease-in-out;
        -webkit-transition: color .2s ease-in-out;
        -ms-transition: color .2s ease-in-out;
        transition: color .2s ease-in-out;
        color: inherit;
    }

        #copyright a:hover {
            color: #777;
        }